body {
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	font-weight: 400;
	color: #000000;
	font-family: 'Quicksand', sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
}

h1 {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 25px;
}

h2 {
	font-size: 24px;
	font-weight: 700;
}

h3 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 5px;
}

p {
	margin-top: 0px;
}
.mb-0
{
	margin-bottom: 0px !important;
}
a, a:hover {
	text-decoration: none;
	outline: 0;
}
.m-0
{
	margin: 0px !important;
}
:focus {
	outline: 0;
}
.text-white
{
	color: #ffffff;
}
input.search-box {
	background: #fff;
	border: 2px solid #E5E5E5;
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
	font-size: 18px;
	padding: 0 10px;
}

a.button {
	background: #999999;
	color: #fff;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-right: 10px;
	font-size: 18px;
	line-height: 23px;
	font-weight: 400;
	padding: 12px 15px;
}
.main-wrapper{padding-top: 100px;}
.top-button-block {
	background: #E5E5E5;
	padding: 15px 15px 0px 15px;
	margin-bottom: 20px;
}

.top-button-block a.button {
	margin-bottom: 15px;
}

.top-button-block .checkbox-btn {
	margin-top: 10px;
}

.checkbox-btn {
	display: flex;
	float: left;
	align-items: center;
	margin-right: 20px;
}

.checkbox-btn input[type=checkbox]:empty {
	display: none;
}

.checkbox-btn input[type=checkbox]:checked~label.acccke {
	background-image: url(../img/checkbox-check.jpg);
	border: 0;
}

.checkbox-btn input[type=checkbox]~label.acccke {
	background: #fff;
	cursor: pointer;
	height: 32px;
	margin: 0;
	width: 33px;
	vertical-align: middle;
	border: 2px solid #E5E5E5;
	padding: 0;
}

.job-list-saection {
}

.job-list-block {
	background: #fff;
	border: 2px solid #999999;
	margin-bottom: 20px;
	padding-top: 15px;
	padding-bottom: 25px;
	padding-left: 22px;
	padding-right: 28px;
	display: flex;
	justify-content: space-between;
}

.jlb-left {
	display: flex;
	align-items: center;
}

.job-details .job-date {
	font-family: 'Roboto';
	font-size: 12px;
	color: #000;
}

.job-details p.job-description {
	font-size: 14px;
	color: #999999;
	margin-bottom: 5px;
}

.jlb-right {
	display: block;
	align-items: center;
}

a.tag {
	background: #F8F8F8;
	border: 2px solid #E5E5E5;
	border-radius: 20px;
	padding: 10px 25px;
	margin: 0 5px;
	font-size: 10px;
	margin-bottom: 10px;
	font-weight: 500;
	text-transform: uppercase;
	color: #999999;
	display: inline-block;
}

.jlb-right a.button {
	margin-right: 0px;
	margin-left: 25px;
}

.job-details {
}

a.tag {
	background: #F8F8F8;
	border: 2px solid #E5E5E5;
	border-radius: 20px;
	padding: 10px 25px;
	margin: 0 5px;
	font-size: 10px;
	font-weight: 500;
	text-transform: uppercase;
	color: #999999;
	display: inline-block;
	margin-bottom: 10px;
}

.job-match {
	display: inline-block;
	text-align: right;
	margin-right: 20px;
}

.job-match h3 {
	font-family: 'Roboto';
	line-height: 21px;
	margin-bottom: 0;
	vertical-align: top;
}

.job-match .jm-text {
	font-family: 'Roboto';
	font-size: 10px;
	line-height: 12px;
	color: #999999;
}
.static-block {
	border: 2px solid #999999;
	padding: 20px;
	margin-bottom: 40px;
}
.static-block label{
	font-size: 12px;
	font-weight: 700;
	color: #999999;
	text-transform: uppercase;
}
.right-block{
	padding: 20px;
	margin-bottom: 20px;
}
.gray-block{
	background: #E5E5E5;

}
a.button.button-2 {
	width: 175px;
	margin-bottom: 10px;
	margin-right: 0;
	clear: both;
}
.right-block-checkbtn {
	clear: both;
	width: 100%;
}
.right-block-checkbtn>label{font-size: 16px;font-weight: 400;display: flex;align-items: center;margin-bottom: 0;cursor: pointer;}
.right-block-checkbtn .checkbox-btn{margin-right: 10px;}
.right-block-checkbtn .checkbox-btn input[type=checkbox]~label.acccke{border-color: #999999;}
.company-logo-block {
	margin-bottom: 20px;
	width: 100%;
	clear: both;
	float: left;
}
.company-logo-block img{float: left;margin-right: 20px;}
.company-logo-block h3{}
.sb-h1{
	height: 204px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sb-h2{
	height: 160px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
/*==ai-configuration-start==*/
.text-gray
{
	color: #999999;
}
.configuration-tabs .nav > li > a , .common-tab   .nav > li > a
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 17px;
	color: #000000;
	padding: 17px 24px;
}
.configuration-tabs .nav > li.active > a , .common-tab   .nav > li.active > a
{
	background-color: #E5E5E5;
	border-radius: 0px;
	font-weight: bold;
	color: #323232;
}
.configuration-tabs .nav > li > a:hover , .common-tab .nav > li > a:hover
{
	background-color: #E5E5E5;
	border-radius: 0px;
}
.configuration-tabs .nav.nav-pills , .common-tab .nav.nav-pills {
	border-bottom: 8px solid #e5e5e5;

}
.common-tab   .nav > li > a span
{
	font-weight: 300;
}
.row.configuration-tabs {
	margin-top: 10px;
}
.back-link a
{
	font-size: 12px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}
.back-link {
	margin-top: 22px;
}
.back-link svg
{
	margin-right: 10px;
}
.tabel-title h5
{
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.keyword-link p
{
	font-size: 14px;
	font-weight: 300;
}
.keyword-link p span
{
	font-weight: bold;
}
.keyword-link , .tabel-title , .addkeyword-btn , .serchbar
{
	display: inline-block;
}
.addkeyword-btn , .serchbar
{
	vertical-align: top;
}
.tabel-title
{
	margin-right: 27px;
}
.serchbar input {
	border: 2px solid #E5E5E5;
	height: 41px;
	padding: 0px 15px;
	width: 300px;
	background-color: #ffffff;
	background-image: url("../img/search.png");
	background-repeat: no-repeat;
	padding-right: 45px;
	background-position: center right 15px;
}
.serchbar input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	color: #999999;
	font-weight: 400;
}
.serchbar input::-moz-placeholder { /* Firefox 19+ */
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	color: #999999;
	font-weight: 400;
}
.serchbar input:-ms-input-placeholder { /* IE 10+ */
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	color: #999999;
	font-weight: 400;
}
.serchbar input:-moz-placeholder { /* Firefox 18- */
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	color: #999999;
	font-weight: 400;
}
.addkeyword-btn button
{
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	background-color: #999999;
	height: 40px;
	width: 143px;
	border-radius: 3px;
	margin-left: 15px;
}
.row.keyword-part {
	margin-top: 20px;
	margin-bottom: 30px;
}
.tabel-uppersection .checkbox-btn input[type="checkbox"] ~ label.acccke , .configurationtabel  .checkbox-btn input[type="checkbox"] ~ label.acccke , .tabel-uppersection .checkbox-btn input[type="checkbox"] ~ label.acccke , .common-checkbox.checkbox-btn input[type="checkbox"] ~ label.acccke
{
	width: 22px;
	height: 21px;
	border-radius: 3px;
}
.tabel-uppersection .checkbox-btn input[type="checkbox"]:checked ~ label.acccke , .configurationtabel .checkbox-btn input[type="checkbox"]:checked ~ label.acccke , .common-checkbox.checkbox-btn input[type="checkbox"]:checked ~ label.acccke   {
	background-size: 22px;
}
.tabel-uppersection .checkbox-btn
{
	margin-left: 22px;
}
.unlinkedkeyword-btn .btn {
	color: #C4C4C4;
	background-color: #ffffff;
	border: 1px solid #E5E5E5;
	border-radius: 3px;
	font-weight: bold;
	font-size: 12px;
	height: 32px;
	padding: 0px 20px;
}
.unlinkedkeyword-btn , .checkbox-btn
{
	display:inline-block;
	vertical-align: middle;
}
.tabel-uppersection select , .common-sortby select
{
	font-size: 12px;
	font-weight: bold;
	color: #999999;
	border-radius: 3px;
	min-width: 174px;
	border: 1px solid #999999;

}
.select-wrapper select
{
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
}
.select-wrapper
{
	position: relative;
}
.select-wrapper::after
{
	content: "";
	position: absolute;
	display: block;
	background-image: url("../img/dropdownarrow-gray.png");
	z-index: 20000;
	width: 18px;
	height: 11px;
	top: 50%;
	right: 14px;
	transform: translateY(-50%);
}
.configurationtabel.table > thead > tr > th
{
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #C4C4C4;
	padding: 10px 20px !important;
	border: 2px solid #e5e5e5;
	border-left: 0px;
	border-right: 0px;
}
.configurationtabel.table > tbody > tr > td
{
	border: 2px solid #e5e5e5;
	border-left: 0px;
	border-right: 0px;
	vertical-align: middle;
	padding: 20px;
}
.configurationtabel.table.table-bordered
{
	border: 2px solid #e5e5e5;
	margin-bottom: 0px;
}
.name-text
{
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 0px;
}
.configurationtabel select
{
	height: 32px;
	background: #999999;
	border-radius: 3px;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	padding-right: 32px;
}
.configurationtabel .select-wrapper::after {
	background-image: url("../img/dropdown-arrow.png");
}
.configurationtabel .select-wrapper
{
	width: 112px;
}
.btn-group.btn-toggle {
	border: 2px solid #999999;
	border-radius: 3px;
}
.btn-group.btn-toggle .btn
{
	font-size: 12px;
	font-weight: bold;
	color: #999999;
	background-color: #ffffff;
	height: 28px;
	width: 99px;
	border-radius: 0px;
	line-height: 26px;
	padding: 0px;
}
.btn-group.btn-toggle .btn.active
{
	background-color: #4F4F4F;
	color: #ffffff;
}
.row.tabel-uppersection {
	margin-bottom: 16px;
}
.configurationtabel .checkbox-btn
{
	margin-top: -2px;
	margin-right: 0px;
}
/*.configurationtabel tr td:first-child , .configurationtabel tr th:first-child
{
  width: 24px;
}
.configurationtabel tr td:last-child , .configurationtabel tr th:last-child
{
  width: 56px;
}
.configurationtabel tr td:nth-child(3) , .configurationtabel tr th:nth-child(3)
{
  width: 47px;
}
.configurationtabel tr td:nth-child(4) , .configurationtabel tr th:nth-child(4)
{
  width: 245px;
  }*/
.configuration-page , .joblistingall-page
{
	padding-top: 35px;
}
.configuration-tabs .nav-pills > li + li {
	margin-left: 0px;
}
.tabel-overflow {

	overflow-x: auto;

}
.configurationtabel td
{
	font-size: 16px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
}
/*==job-listing-start==*/
.jobs-tag h5
{
	font-size: 16px;
	font-weight: 400;
	margin-right: 12px;
}
.jobs-tag h5 span
{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.jobs-tag
{
	background: #999999;
	padding: 11px 18px;
}
.jobs-tag p
{
	font-size: 12px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
}
.jobs-tag h5 , .jobs-tag p
{
	display: inline-block;
}
.jobs-tag a
{
	text-decoration: underline;
	font-size: 14px;
	font-weight: 500;
}
.vertical-tab-content
{
	display: none;
}
.vertical-tab-content.active
{
	display: block;
}
.vertical-tab-container
{
	margin-top: 30px;
}
.vertical-tab-menu li a
{
	font-size: 14px;
	color: #323232;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.vertical-tab-menu li span
{
	float: right;
	font-weight: 300;
}
.vertical-tab-menu li.active a , .vertical-tab-menu li:hover a , .vertical-tab-menu li:focus a
{
	color: #ffffff;
}
.vertical-tab-menu ul ,  .vertical-tab-menu li
{
	background-color: #E5E5E5;
	border-color: #E5E5E5;
	border-radius: 0px !important;
}
.vertical-tab-menu li
{
	padding: 10px 15px;
}
.vertical-tab-menu li.active , .vertical-tab-menu li:hover  , .vertical-tab-menu li:focus
{
	background: #737373 !important;
	border-color: #737373 !important;
	cursor: pointer;
}
.vertical-tab-menu
{
	width: 272px;
}
.vertical-tab
{
	width: calc(100% - 272px);
}
.sub-title h5
{
	font-size: 20px;
	font-weight: bold;
	margin-right: 17px;
}
.edit-profile-link a
{
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
	color: #737373;
}
.d-i
{
	display: inline-block;
}
.outline-btn.btn
{
	color: #C4C4C4;
	background-color: #ffffff;
	border: 1px solid #E5E5E5;
	border-radius: 3px;
	font-weight: bold;
	font-size: 12px;
	height: 32px;
	padding: 0px 10px;
}

.sort-by-weight{
	line-height:30px;
}

.sort-by-weight img {
	margin-left: 10px;
}
.dark-btn
{
	color: #ffffff;
	background-color: #999999;
	border: 1px solid #999999;
	border-radius: 3px;
	font-weight: bold;
	font-size: 12px;
	height: 32px;
	padding: 0px 10px;
}
.business-tab-header .checkbox-btn
{
	margin-left: 20px;
}
.business-tab-header .outline-btn.btn
{
	margin-right: 3px;
}
.business-tab-header {
	margin: 20px -15px;
}
.business-job-link h3
{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-bottom: 2px;
}
.business-job-link p
{
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #C4C4C4;
}
.business-job-link span
{
	color: #000000;
	font-weight: 300;
}
.job-yearreport h4
{
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 400;
}
.job-yearreport p
{
	font-family: 'Roboto';
	font-size: 8px;
	color: #737373;
}
.job-yearreport
{
	vertical-align: top;
	margin-right: 5px;
}
.business-job-content .btn
{
	margin-left: 4px;
}
.business-job-content {
	height: 100%;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 20px;
	align-items: center;
	border-bottom: 2px solid #E5E5E5;
}
.business-job-content-left
{
	width: 60%;
}
.business-job-content-right
{
	width: 40%;
	text-align: right;
}
.business-job-part {
	border: 2px solid #E5E5E5;
}
.business-job-part .business-job-content:last-child
{
	border-bottom: 0px;
}
.commonback-link a
{
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	color: #999999;
	font-weight: 500;
}
.commonback-link img
{
	margin-right: 10px;
}
/*==job-listing-end==*/
/*==job-edit-detail-start==*/
.job-edit-backlink
{
	margin-top: 20px;
}
.job-edit-subtitle h5
{
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
}
.poston-link
{
	font-family: 'Montserrat', sans-serif;
	color: #C4C4C4;
	font-weight: 500;
	font-size: 12px;
}
.poston-link .text-gray
{
	color: #737373;
}
.poston-link a
{
	text-decoration: underline;
}
.rating span {
	font-size: 26px;
	display: inline-block;
	vertical-align: middle;
	color: #C4C4C4;
	margin-left: -5px;
	line-height: 26px;
}
.rating
{
	margin-left: 20px;
}
.sub-title.job-edit-subtitle {
	margin-bottom: 10px;
}
.job-alldetail .detail-title
{
	font-size: 10px;
	color: #C4C4C4;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 10px;
}
.job-alldetail li
{
	background: #F8F8F8;
	padding: 12px 14px;
	margin: 9px 6px 0px 0px;
	vertical-align: top;
}
.job-alldetail span
{
	color: #323232;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
	display: block;
}
.job-alldetail .media-body
{
	width: unset;
}
.job-alldetail .media-object
{
	width: 23px;
}
.job-alldetail {
	margin:17px 0px 30px 0px;
}
.job-dec , .feedback-channel
{
	background: #F8F8F8;
	padding: 15px;
	margin-bottom: 23px;
}
.job-dec label , .feedback-channel p
{
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #C4C4C4;
	text-transform: uppercase;
}
.job-dec textarea
{
	margin-top: 84px;
	border: 0px;
	border-radius: 0px;
	box-shadow: none;
	font-size: 14px;
	color: #000000;
	padding: 15px;
	height: 530px;
}
.feedback-channel .checkbox-btn input[type="checkbox"] ~ label.acccke
{
	width: 21px;
	height: 21px;
	background-size: 21px;
}
.feedback-channel .checkbox-btn
{
	margin-right: 10px;
}
.feedback-channel label
{
	margin-right: 30px;
	font-weight: 500;
	font-size: 12px;
	color: #323232;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 20px;
}
.jobeditdetail-page
{
	margin-top: 20px;
}
.job-percentage h4
{
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: bold;
}
.job-percentage p
{
	font-family: 'Roboto';
	font-size: 8px;
	color: #737373;
}
.job-selection .dark-btn
{
	min-width: 90px;
	vertical-align: top;
	margin-right: 5px;
}
.job-percentage.d-i {
	margin-right: 14px;
}
.approve-btn {
	margin-top: 8px;
}
hr.border-line {
	border-color: #C4C4C4;
	margin: 26px 0px;
}
.sub2-titile h5
{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.common-line-tab.nav-pills > li > a
{
	color: #323232;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	border-bottom: 2px solid #ffffff;
	border-radius: 0px;
	padding: 3px;
	margin-right: 20px;
}
.common-line-tab.nav-pills > li > a:focus, .common-line-tab.nav-pills > li > a:hover {
	text-decoration: none;
	background-color: #eee;
	color: #323232;
}
.common-line-tab.nav-pills > li.active > a
{
	font-weight: bold;
	background-color: transparent;
	border-color: #4F4F4F;
}
.addkeyword.outline-btn.btn
{
	border: 2px solid #999999;
	color: #999999;
}
.jobedit-review p
{
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #323232;
}
.review-per
{
	font-weight: 500;
	margin-right: 13px;
}
.jobedit-review a
{
	color: #737373;
	font-size: 14px;
	text-decoration: underline;
}
.jobedit-review {
	background-color: #f8f8f8;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 13px;
	margin-top: 6px;
}
.jobeditdetail-page .rightsidepart
{
	margin:10px 0px 30px 0px;
}
/*==job-edit-detail-end==*/
/*==bootstarp-tag-input-start==*/
.bootstrap-tagsinput {
	background-color: #fff;
	display: inline-block;
	padding: 22px 0px;
	color: #555;
	vertical-align: middle;
	border-radius: 4px;
	max-width: 100%;
	line-height: 22px;
	cursor: text;
}
.bootstrap-tagsinput input {
	border: none;
	box-shadow: none;
	outline: none;
	background-color: transparent;
	padding: 0 6px;
	margin: 0;
	width: auto;
	max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
	color: #555;
	opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
	color: #555;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
	color: #555;
}
.bootstrap-tagsinput input:focus {
	border: none;
	box-shadow: none;
}
.bootstrap-tagsinput .tag {
	border: 2px solid #E5E5E5;
	background: #F8F8F8;
	color: #999999;
	font-size: 10px;
	font-weight: 500;
	padding: 7px 11px;
	border-radius: 50px;
	display: inline-block;
	margin-bottom: 6px;
	line-height: 10px;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
	margin-left: 6px;
	cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
	content: "x";
	font-size: 16px;
	padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/*========Tuhin==========*/

#divLoading
{
	display : none;
}
#divLoading.show
{
	display : block;
	position : fixed;
	z-index: 2000;
	background-image : url(../img/loader.gif);
	background-color:#666;
	opacity : 0.4;
	background-repeat : no-repeat;
	background-position : center;
	left : 0;
	bottom : 0;
	right : 0;
	top : 0;
}
#loadinggif.show
{
	left : 50%;
	top : 50%;
	position : absolute;
	z-index : 20001;
	width : 32px;
	height : 32px;
	margin-left : -16px;
	margin-top : -16px;
}

.paginate{
	margin: 25px auto;
}

.paginate .fa-sort-down{
	vertical-align: top;
}


/*==bootstarp-tag-input-end==*/
/*--- Responsive Web Design - Media Queries ---*/
@media only screen and (max-width:991px) {
	.container {
		width: 100%;
	}
	.vertical-tab-menu {
		width: 230px;
	}
	.vertical-tab {
		width: calc(100% - 230px);
	}
	.business-job-header .pull-left , .business-job-header .pull-right
	{
		float: none !important;
	}
	.business-job-header .serchbar
	{
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.business-job-content
	{
		display: block;
	}
	.business-job-content-left , .business-job-content-right
	{
		width: 100%;
		text-align: left;
	}
	.business-job-content-right {
		margin-top: 25px;
	}
	.job-selection .dark-btn {
		min-width: unset;
	}
	.job-alldetail ul br
	{
		display: none;
	}
	.job-dec textarea {
		margin-top: 20px;
	}
	.feedback-channel label {
		margin-right: 10px;
	}
}
@media only screen and (max-width:991px) and (min-width: 768px){

}
@media only screen and (max-width:980px) {
	.job-list-block{padding: 15px;}
	.jlb-left {
		margin-bottom: 10px;
	}

	.job-list-block {
		flex-flow: column;
	}
}
@media(max-width: 767px)
{
	.configuration-tabs .nav > li > a {
		padding: 17px 20px;
	}
	.keyword-part .pull-left , .keyword-part .pull-right
	{
		float: none !important;
	}

	.addkeyword-btn button
	{
		margin-left: 0px;
	}
	.btn-group.btn-toggle {
		min-width: 201px;
	}
	.tabel-uppersection .checkbox-btn {
		margin-left: 0px;
	}
	.vertical-tab-menu , .vertical-tab {
		width: 100%;
	}
	.vertical-tab {
		margin:0px 0px 30px 0px;
	}
	.jobs-tag .pull-left , .jobs-tag .pull-right
	{
		float: none !important;
	}
	.business-job-header {
		padding-top: 15px;
	}
	.business-tab-header .checkbox-btn {
		margin-left: 0px;
	}
	.poston-link
	{
		display: block;
	}
	.rating {
		margin-left: 0px;
		margin-top: 10px;
	}
	.job-dec
	{
		padding: 10px;
	}
}
@media(max-width: 500px)
{

	.serchbar {
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.addkeyword-btn, .serchbar {
		display: block;
	}
	.serchbar input
	{
		width: 100%;
	}
	.tabel-uppersection .pull-left , .tabel-uppersection .pull-right , .business-tab-header .pull-left , .business-tab-header .pull-right
	{
		float: none !important;
	}
	.tabel-uppersection .select-wrapper {
		margin-top: 15px;
	}
	.business-tab-header .select-wrapper.common-sortby {
		margin-top: 15px;
	}
	.common-tab.business-job-tab .nav > li > a {
		font-size: 13px;
		padding: 17px 12px;
	}
}
@media only screen and (max-width:420px) {
	.jlb-right a.button{margin-left: 0px;}
	.job-match{margin-right: 5px;}
	.jlb-right {display: inline-block;}
}
@media only screen and (max-width:400px) {
	.jlb-right a.button{width: 100%;margin-top: 15px;}
}
