body { padding: 0px; margin: 0px; font-size: 16px; font-weight: 400; color: #6B6B6B; font-family: 'Roboto', sans-serif; -webkit-font-smoothing: antialiased; }
h1, h2, h3, h4, h5, h6 { margin-top: 0px; margin-bottom: 15px; color: #000; }
h1 { font-size: 42px; font-weight: 700; }
h2 { font-size: 24px; font-weight: 500; }
h3 { font-size: 24px; }
h4 { font-size: 18px; font-weight: 700; }
h5 { font-size: 16px; }
p { margin-top: 0px; }
.mb-0 { margin-bottom: 0px !important; }
.mb-1 { margin-bottom: 10px; }
.mb-2 { margin-bottom: 20px; }
.mb-3 { margin-bottom: 30px; }
.mb-4 { margin-bottom: 40px; }
.mb-5 { margin-bottom: 50px; }
.mr-1 { margin-right: 10px; }
.m-0 { margin: 0px !important; }
.p-lr { padding-left: 0px !important; padding-right: 0px !important; }
.f-18 { font-size: 18px !important; }
ul, li { list-style-type: none; padding: 0; margin: 0; }
.inline-list { }
.inline-list li { display: inline-block; margin-right: 10px; margin-bottom: 5px; vertical-align: top; }
.inline-list li:last-child { margin-right: 0px; }
hr { border-color: #C4C4C4; margin-top: 10px; margin-bottom: 10px; }
a, a:hover { text-decoration: none; outline: 0; color: inherit; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline: 0; box-shadow: none; }
a:focus, input:focus, textarea:focus, button:focus, select:focus { outline: 0; box-shadow: none; text-decoration: none; }
img{max-width: 100%;}
.f-w-5 { font-weight: 400; font-size: 14px; }
.f-w-5 strong { color: #4D4D4D; }
.f-w-5 a { font-weight: 500; }
.green-bg { background: #0EB0A3 !important; }
.text-green { color: #0EB0A3; }
.text-white { color: #ffffff; }
.primary-button { background: #0EB0A3; border-radius: 3px; border: 0px; width: 100%; color: #fff; font-style: normal; font-weight: 500; line-height: normal; font-size: 22px; text-transform: uppercase; padding: 12px 0; }
.default-button { }
a.button { min-width: 100px; background: #4C4C4C; border-radius: 5px; color: #fff; display: inline-block; text-align: center; vertical-align: middle; margin-right: 0px; font-size: 13px; font-weight: 400; padding: 10px 15px;cursor: pointer; }
a.button:hover { background: #000000; }
a.add-button { float: left; display: flex; align-items: center; justify-content: space-between; background: #FFFFFF; border: 1px solid #B0B0B0; border-radius: 3px; height: 33px; min-width: 300px; padding: 5px 10px; font-size: 14px; color: #838383; }
.broder-button { background: #FFFFFF; border: 1px solid #0EB0A3; color: #0EB0A3; font-size: 13px; height: 37px; border-radius: 0; }
.search-box { position: relative; float: right; min-width: 393px; }
.search-box input { width: 100%; background: #fff; border: 0; border-radius: 20px; height: 40px; padding: 5px 40px 5px 20px;color: #000 }
.search-box button { position: absolute; top: 0; right: 0; background: transparent; border: 0; height: 40px; border-radius: 40px; width: 40px; text-align: center; padding: 0; }
.login-wrapper { position: relative; width: 100%; height: 100vh; background-image: url(../img/login-bg.png); background-size: 100% 100%; background-repeat: no-repeat; }
.login-wrapper:before { width: 100%; height: 100%; content: ""; background: linear-gradient(125.04deg, #007B96 1.47%, #B4DA1C 100%); position: absolute; left: 0; top: 0; opacity: 0.5; }
.login-wrapper .header { position: relative; background-color: transparent; box-shadow: none; }
.login-wrapper .primary-button {     margin-top: 20px;margin-bottom: 10px; }
.login-block h1 { margin-bottom: 30px; }
.search-box input::-webkit-input-placeholder { /* Chrome/Opera/Safari */color: #5F5F5F;font-size: 16px;}
.search-box input::-moz-placeholder { /* Firefox 19+ */color: #5F5F5F;font-size: 16px;}
.search-box input:-ms-input-placeholder { /* IE 10+ */color: #5F5F5F;font-size: 16px;}
.search-box input:-moz-placeholder { /* Firefox 18- */color: #5F5F5F;font-size: 16px;}
/*--- Login Block ---*/
.login-block { background: #FFFFFF; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25); border-radius: 3px; padding: 30px 50px; display: inline-block; width: 669px; position: absolute;left: 50%;top: 50%;max-width: 100%;transform: translateX(-50%) translateY(-50% ); }
.login-block h1 { text-transform: uppercase; color: #626262; }
.login-group { position: relative; margin-bottom: 20px; }
.login-group span { position: absolute; left: 0; top: 0; z-index: 1; width: 25px; height: 50px; display: flex; align-items: center; }
.login-group input { position: relative; border-bottom: 1px solid #A1A1A1 !important; border: 0px; width: 100%; height: 50px; padding-left: 30px; font-weight: 300; font-size: 18px; }
.login-group input::placeholder { font-weight: 300; font-size: 18px; color: #6B6B6B; }
.login-group span.help-block { display: block;width: unset;height: unset;position: relative; }
.login-wrapper a { text-decoration: underline; font-size: 15px; }
.login-wrapper .form-group.login-group:nth-child(2)  span{ top:-1px;  }
.login-wrapper .form-group.login-group:nth-child(3)  span{ top:-4px;  }
/*--- End Login Block ---*/

/*--- Checkbox Design ---*/
.checkbox-design { vertical-align: top; display: inline-block; position: relative; padding-left: 30px; margin-bottom: 12px; cursor: pointer; font-style: normal; font-weight: normal; line-height: normal; font-size: 15px; color: #6B6B6B; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox-design input { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }
.checkbox-design .checkmark { position: absolute; top: 0; left: 0; height: 18px; width: 18px; background-color: #fff; border: 1px solid #727272; border-radius: 4px; }
.checkbox-design:hover input ~ .checkmark { /*background-color: #727272;*/ }
.checkbox-design input:checked ~ .checkmark { background-color: #F1F1F1; border-color: #A5A5A5; }
.checkbox-design .checkmark:after { content: ""; position: absolute; display: none; }
.checkbox-design input:checked ~ .checkmark:after { display: block; }
.checkbox-design .checkmark:after { left: -1px; top: -1px; width: 18px; content: "\f00c"; font-family: 'Font Awesome 5 Pro'; color: #010002; font-weight: bold; font-size: 12px; height: 18px; text-align: center; line-height: 18px; bottom: 0; right: 0; }

/*--- Checkbox Design ---*/

/*--- Header ---*/
.header { padding-top: 5px; padding-bottom: 5px; position: fixed; top: 0; left: 0; width: 100%; background: #fff; z-index: 9; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); }
.header-inner { display: flex; align-items: center; justify-content: space-between; }
.logo { float: left; margin-top: 0px; }
.logo a { display: inline-block; }
.logo h2 { font-weight: bold; font-size: 58px; line-height: 1; color: #0EB0A3; margin-bottom: 5px; border-bottom: 6px solid #0EB0A3; padding-bottom: 0; width: intrinsic; width: -moz-max-content; width: -webkit-max-content; }
.logo h3 { font-weight: normal; font-size: 16px; color: #757575; margin-bottom: 0; }
.login-wrapper .header .logo h2, .login-wrapper .header .logo h3 { color: #fff; border-color: #fff; }
.dropdown.userdropdown { float: right; }
.dropdown.userdropdown button { background-color: #fff; border: 0; padding: 0; display: flex; align-items: center; }
.dropdown.userdropdown button .user-img { float: left; margin-right: 10px; width: 48px; height: 48px; border-radius: 100%; overflow: hidden; }
.dropdown.userdropdown button span.user-name { font-size: 14px; color: #000000; font-weight: 500; }
.dropdown.userdropdown.open button:hover, .dropdown.userdropdown.open button:focus { background: transparent; border: 0; }

/*--- End Header ---*/
.top-noticebar { background: #3B3B3B; color: #fff; padding: 20px 0px 20px 0; margin-bottom: 20px; }
.top-noticebar h4 { display: inline-block; margin-right: 20px; color: #fff;margin-bottom: 0px; margin-top:13px; }
.option-btn { font-size: 15px;font-family: Roboto; color: #FFFFFF; border-radius: 20px; border: 1px solid #FFFFFF; padding: 10px 25px; }
.option-btn:hover { background-color: #fff; color: #6B6B6B; }
.main-wrapper { overflow: hidden; padding-top: 99px; }

/* side menu */
.side-menu-fixed { position: fixed; top: 99px; left: 0; width: 328px; margin-left: 0; padding: 0px; bottom: 0; z-index: 100; background: #0EB0A3; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25); border-right: 0px solid #dedede; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.side-menu-fixed .side-menu .frontendsidenav{margin-bottom: 10px;}
.side-menu-fixed .side-menu li a { font-weight: 500; color: #fff; padding: 15px 15px; display: block; }
.side-menu-fixed .side-menu li.active a{background-color:#fff;color:#097A71;}
.side-menu-fixed .side-menu li { position: relative; }
.side-menu-fixed .side-menu li:after { position: absolute; content: ""; left: 0; bottom: 0; width: 100%; border: 1px dashed #fff; opacity: 0.3; }
.side-menu-fixed .side-menu li:last-child:after{display: none;}
.side-menu-fixed .side-menu li a span { float: right; }
.content-wrapper { min-height: 100vh; overflow: hidden; padding: 25px; margin-left: 328px; background: #E3E1E1; position: relative; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; left: 0; }
.job-list-block { background: #FFFFFF; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15); padding: 10px 20px; margin-bottom: 20px; width: 100%; vertical-align: middle; display: flex; justify-content: space-between; }
.job-list-block h2, .job-list-block h3 { margin-bottom: 0px; }
.job-list-block .jlb-left { display: flex; align-items: center; }
.job-list-block .jlb-left .checkbox-btn { margin-right: 15px; }
.checkbox-btn { display: inline-block; }
.job-details { display: inline-block; }
.job-details h2 { color: #3F3F3F; }
.job-details .job-date { font-size: 13px; color: #A8A8A8; }
.job-details .job-date a { font-weight: bold; color: #6B6B6B; }
.job-list-block .jlb-right { display: flex; align-items: center; }
.job-list-block .jlb-right .inline-list { display: flex; align-items: center; }
.company-logo { display: inline-block; }
.company-logo a { display: flex; align-items: center; height: 65px; }
.company-logo img { max-height: 65px; }
.job-match { display: inline-block; }
.job-match h3 { font-weight: 900; color: #9D9D9D; }
.job-match h3 span { font-size: 14px;     font-weight: 500;}
.job-match .job-progress .progress { margin: 0; width: 113px; border-radius: 10px; height: 10px; box-shadow: none; background: #C4C4C4; }
.job-match .job-progress .progress .progress-bar { background: #0EB0A3; box-shadow: none; }
.checkbox-btn .checkbox-design .checkmark { width: 23px; height: 23px; }
.checkbox-btn .checkbox-design .checkmark:after { width: 23px; height: 23px; top: 0; left: 0; font-size: 14px; line-height: 23px; }
.job-list-block a.button { background: #0EB0A3; }
.job-list-saection .job-list-block  {display: block;padding: 20px 20px 15px 20px;}
.job-list-saection .job-list-block .jlb-div{display: flex;justify-content: space-between;    margin-bottom: 15px;}
.plusmoretsf p , .plusmoretsf img{display:inline-block; vertical-align: top;}
.plusmoretsf img { margin-right: 5px; }
.jlb-tags-part ul {margin-left: 40px; vertical-align: middle;}
.plusmoretsf p {font-size: 13px;margin-bottom: 0px;vertical-align: top;line-height: 19px;}
.job-list-saection .jlb-div .job-match {     margin-right: 15px;     margin-left: 40px; }
.sortby-button button.btn {-webkit-appearance: none;-moz-appearance: none;appearance: none;background: #E3E1E1;width: 180px;height: 32px;border: 1px solid #B0B0B0;border-radius: 3px;margin: 0;text-align: left;
  color: #838383;font-size: 14px;padding: 0 10px;position: relative; }
.sortby-button button.btn::after {content: "";position: absolute;display: block;background-image: url("../img/dropdownarrow-gray.svg");z-index: 20000;width: 14px;height: 8px;top: 50%;right: 14px;transform: translateY(-50%);}
.jlb-tags-part .bootstrap-tagsinput {padding: 0px;padding-top: 10px;}
.sortby-button button.btn.dec::after { transform: translateY(-50%) rotate(180deg);}
.location-box span{     display: block !important; }
/*--- Tabs Design ---*/
ul.nav.nav-tabs.design-tabs { border-bottom: 1px solid #0EB0A3; }
ul.nav.nav-tabs.design-tabs li { margin-right: 15px; margin-bottom: 0px; }
ul.nav.nav-tabs.design-tabs li:last-child { margin-right: 0px; }
ul.nav.nav-tabs.design-tabs li a { font-weight: 500; font-size: 17px; color: #000000; border-radius: 0; padding: 5px 5px; margin: 0; border: 0; border-bottom: 8px solid transparent; }
ul.nav.nav-tabs.design-tabs li.active a { background: transparent; border-color: #0EB0A3; font-weight: 500; }
ul.nav.nav-tabs.design-tabs li:hover a { background: transparent; border-color: #0EB0A3; }
.tab-content>.tab-pane { padding-top: 15px; }
ul.nav.nav-tabs.design-tabs-1{border: 0px;}
ul.nav.nav-tabs.design-tabs-1 li{ margin-right: 2px;margin-bottom: 0px;}
ul.nav.nav-tabs.design-tabs-1 li:last-child { margin-right: 0px; }
ul.nav.nav-tabs.design-tabs-1 li a { font-weight: 500; font-size: 16px; color:#097A71;background-color:#fff; border-radius: 0; padding: 15px 30px; margin: 0; border: 0; text-transform:uppercase;box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);}
ul.nav.nav-tabs.design-tabs-1 li.active a, ul.nav.nav-tabs.design-tabs-1 li:hover a {color: #fff; background: #097A71; border:0; }
/*--- End Tabs Design ---*/
.all-job-text{background: #097A71;display: block;color: #fff;font-size: 16px;font-weight: 500;padding: 20px 15px;}
.all-job-text span{float: right;}
.all-job-text:hover{color: #fff;}
/*--- Select Option ---*/
.select-wrapper select { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #E3E1E1; width: 180px; height: 32px; border: 1px solid #B0B0B0; border-radius: 3px; margin: 0; color: #838383; font-size: 14px; padding: 0 10px; }
.select-wrapper { position: relative; display: inline-block; width: max-content; }
.select-wrapper::after { content: ""; position: absolute; display: block; background-image: url("../img/dropdownarrow-gray.svg"); z-index: 20000; width: 13px; height: 7px; top: 50%; right: 14px; transform: translateY(-50%); }
.select-wrapper2 select { -webkit-appearance: none; -moz-appearance: none; appearance: none; text-align-last:center;background: #0EB0A3; width: 117px; height: 40px; border: 0px; border-radius: 3px; margin: 0; color: #fff; font-size: 16px; font-weight: 500; padding: 0 10px 0px 35px; }
.select-wrapper2 { position: relative; display: inline-block; width: max-content; cursor: pointer; }
.select-wrapper2::before { content: ""; position: absolute; display: block; background: #0C9A8E; display: block;pointer-events: none; border-radius: 3px; width: 30px; height: 40px; }
.select-wrapper2::after { content: ""; position: absolute; display: block; background-image: url("../img/dropdownarrow-white.svg"); display: block;pointer-events: none; width: 15px; height: 16px; top: 50%; left: 6px; transform: translateY(-50%); }
/*--- End Select Option ---*/
.frontendsidenav .select-wrapper{width: 100%;}
.frontendsidenav .select-wrapper select{background: transparent;border: 1px solid #fff;width: 100%;color: #fff;}
.frontendsidenav .select-wrapper::after{background-image: url(../img/dropdownarrow-white.svg);width: 15px;height: 15px;}
.frontendsidenav .select-wrapper select option{color:#000;}
/*--- Table ---*/
.listing-table { width: 100%; }
.listing-table table { width: 100%; }
.listing-table table tr th { background: #0EB0A3; font-size: 16px; color: #fff; font-weight: 500; text-transform: uppercase; padding: 15px 10px; text-align: center; }
.listing-table table tr td { padding: 15px 10px; font-size: 16px; color: #3F3F3F; text-align: center; border-bottom: 8px solid rgba(0, 0, 0, 0.15); }
.listing-table table tr th:nth-child(2), .listing-table table tr td:nth-child(2) { text-align: left; }
.listing-table table tr:last-child td { border-bottom: 0px; }
.listing-table table tr { background: #FFFFFF; }

/*--- End Table ---*/
.btn-group.btn-toggle.btn-group-design { }
.btn-group.btn-toggle.btn-group-design button { box-shadow: none; background: #C72A31; color: #fff; font-size: 16px; font-weight: 500; min-width: 96px; height: 40px; border-radius: 3px; }
.btn-group.btn-toggle.btn-group-design button.active { background: #0EB0A3; }
.content-wrapper.full-width { background: #FFFFFF; margin-left: 0; }
.custom-block {width: 100%; display: inline-block;background-color: #fff; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15); padding: 25px; }
ul.icon-block-ul { }
ul.icon-block-ul li { width: 23%; }
.iconandtext { }
.iconandtext .icon-left { float: left; }
.iconandtext .icon-left img { width: 30px; height: 30px; }
.iconandtext .text-detail { padding-left: 40px; }
.iconandtext .text-detail h4 { margin-bottom: 5px;color: #4C4C4C;margin-top: 5px; }
.iconandtext .text-detail p { color: #4D4D4D;    margin-bottom: 0px;word-break: break-word; }
.job-dec textarea { margin-top: 84px; border: 0px; border-radius: 0px; box-shadow: none; font-size: 14px; color: #000000; padding: 15px; height: 265px; }

/*--- Bootstrap Tagsinput ---*/
.bootstrap-tagsinput { border: 0; border-radius: 0; box-shadow: none; padding: 10px 0; }
.bootstrap-tagsinput input { min-width: 100px; }
.bootstrap-tagsinput .tag { background: #D5D5D5; border-radius: 20px; font-size: 13px; color: #747474;
  font-weight: 400; padding: 9px 10px; margin: 0 5px 10px 0px; display: inline-block !important; text-align: left; }
.bootstrap-tagsinput .tag [data-role="remove"] { position: relative; margin-left: 20px; float: right; }
.bootstrap-tagsinput .tag [data-role="remove"]:after { content: ""; width: 15px; height: 15px; background-image: url(../img/close-circle.svg); position: absolute; right: 0; top: 0; bottom: 0; }

/*--- End Bootstrap Tagsinput ---*/
.other-matching-side { display: flex; width: 100%; justify-content: space-between; align-items: center; background: #F0F0F0; padding: 15px; margin-bottom: 5px; }
.other-matching-side h3 { margin: 0px; }
.jobmatchperc h2, .jobmatchperc h4 { margin-bottom: 0px; }
.jobmatchperc h2 {     font-size: 48px;color: #4C4C4C;font-weight: bold; }
.jobmatchperc h4 { color: #9D9D9D; text-align: center; }
.custom-block .update_cron + ul .jobmatchperc { margin-top:-10px; }
/*--switch-toggle-start==*/
.switchToggle input[type=checkbox]{height: 0; width: 0; visibility: hidden; position: absolute; }
.switchToggle label {cursor: pointer; text-indent: -9999px; width: 44px; margin-bottom: 0px; max-width: 44px; height: 25px; background: #ffffff; display: block; border-radius: 100px; position: relative; }
.switchToggle label:after {content: ''; position: absolute; top: 3px; left: 3px; width: 20px; height: 20px; background: #0EB0A3; border-radius: 90px; transition: 0.3s; }
.switchToggle input:checked + label, .switchToggle input:checked + input + label  {background: #fff; }
.switchToggle input + label:before, .switchToggle input + input + label:before { position: absolute; top: 5px; left: 35px; width: 26px; height: 26px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
.switchToggle input:checked + label:before, .switchToggle input:checked + input + label:before {content: ''; position: absolute; top: 2px; left: 10px; width: 20px; height: 20px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
.switchToggle input:checked + label:after, .switchToggle input:checked + input + label:after {left: calc(100% - 2px); transform: translateX(-100%); }
.switchToggle label:active:after {width: 60px; }
.toggle-switchArea { margin: 10px 0 10px 0; }
/*--switch-toggle-end==*/

/*---frontend-datamanagement-start==*/
header.header.frontend-header {padding-bottom: 0px}
.main-wrapper.frontend-mainwrapper { padding-top: 158px; }
.main-wrapper.frontend-mainwrapper .side-menu-fixed {top:158px;}
header.header.frontend-header .header-inner {padding:0px 15px;}
.top-noticebar.frontend-noticebar {padding:12px 15px;margin-bottom: 0px;position: relative;}
.searchbar i { color: #828282; }
.top-noticebar.frontend-noticebar h4 { margin-bottom: 0px;margin-top: 10px; }
.frontendsidenav h5{font-weight: 500;font-size: 16px;text-transform: uppercase;}
.frontendsidenav .sortby p , .jobtype-box p{font-size: 14px; font-weight: 400;margin-bottom:0px;}
.frontendsidenav .sortby p {min-width: 75px;}
.frontendsidenav .sortby { display: flex; justify-content: space-between; margin-bottom: 10px; align-items: center;}
.side-menu-fixed .side-menu .frontendsidenav li {position: relative;padding: 20px 15px;}
.location-box input{ color:#fff; width: 100%; background: transparent;border: 1px solid #fff;border-radius: 3px;height: 40px;padding: 5px 40px 5px 20px;    -webkit-appearance: none; }
.location-box button {position: absolute;top: 0;right: 0;background: transparent;border: 0;height: 40px;border-radius: 40px;width: 40px; text-align: center;padding: 0;}
.location-box {position: relative;}
.location-box button i { font-size: 23px; color: #ffffff; line-height: 25px; }
.location-box input::-webkit-input-placeholder { /* Chrome/Opera/Safari */color: #fff;font-size: 14px;font-weight: 400;}
.location-box input::-moz-placeholder { /* Firefox 19+ */color: #fff;font-size: 14px;font-weight: 400;}
.location-box input:-ms-input-placeholder { /* IE 10+ */color: #fff;font-size: 14px;font-weight: 400;}
.location-box input:-moz-placeholder { /* Firefox 18- */color: #fff;font-size: 14px;font-weight: 400;}
.location-box input:focus {box-shadow: none; border-color: #ffffff;}
.jobtype-box .checkbox-btn .checkbox-design .checkmark {    width: 19px; height: 19px; border: 0px;}
.jobtype-box  .checkbox-btn .checkbox-design .checkmark:after {width: 19px;height: 19px;top: 0;left: 0;font-size: 13px;line-height: 21px;color: #0EB0A3;}
.jobtype-box {display: flex;justify-content: space-between;align-items: center;    margin-bottom: 5px;}
.side-menu-fixed .side-menu .frontendsidenav li a.apply-btn {font-size: 16px;color: #0EB0A3;font-weight: 500; background-color: #ffffff;    padding: 8px;}
.frontendsidenav li .sortby:last-child ,.frontendsidenav li .jobtype-box:last-child{margin-bottom: 0px;}
a.green-btn {font-size: 16px; color: #ffffff; font-weight: 500;    padding: 6px 15px;background: #0EB0A3;}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {opacity: 0.2}
.dm-date { font-size: 12px;color: #A8A8A8;margin-bottom: 2px; }
.dm-div .dm-left h2 {color: #3F3F3F;}
.dm-div .dm-right img { margin-right: 5px; }
.dm-div .dm-right a.button {background: #0EB0A3;font-weight: 500;}
.dm-div {display: flex;justify-content: space-between;margin-bottom: 10px;margin-left: 15px;}
.dm-bottom p {font-size: 14px; color: #4C4C4C;  display: inline-block; font-weight: 300;vertical-align: top;margin-left: 15px;}
.job-list-block.dm-block { padding: 15px 20px; }
.content-btngroup {padding-left: 20px;}
.dm-bottom {display: flex;}
.sidebarnav li  .sortby {}
/*==frontend-jobdetail-start==*/
.main-title { font-weight:bold;color: #3F3F3F;margin-bottom: 0px;margin-top: 10px; }
.fr-jobdetail h4 , .fr-jobdetail p ,  .fr-jobdetail h5 { color: #4C4C4C; }
.fr-jobdetail-dec p { color: #4C4C4C;line-height: 20px; font-size: 14px; font-weight: 300;margin-bottom: 20px; }
.fr-jobdetail-dec a.button { font-size: 13px; padding: 7px 15px; background-color: #0EB0A3;}
.fr-jobloc li h4 {line-height: 21px;margin-bottom: 5px;}
.fr-jobloc li h5 {line-height: 19px; font-weight: 400;}
.fr-jobloc li , .fr-jobcontact li { width: calc(33.3333% - 4px); vertical-align: middle; }
.fr-jobcontact h4 { color: #808080; font-weight: 400; display: inline-block;vertical-align: middle; }
.fr-jobcontact img{display: inline-block;vertical-align: middle;margin-right: 10px;}
.fr-jobdetail-btngroup img {margin-right: 5px;}
.frontend-mainwrapper .content-wrapper {background: #E3E1E1;}
.fr-jobdetail-tag .bootstrap-tagsinput{background-color: transparent;}
.custom-block p {color: #4C4C4C;font-weight: 300; }
.custom-block h4 {color: #4C4C4C;}
.custom-block label{color: #4C4C4C; font-size: 17px;font-weight: bold;line-height: 24px;}
/*==drawer-open-css==*/
.drawer-open .main-wrapper.frontend-mainwrapper .side-menu-fixed {left: 0px;}
.toggle-menu{display: none;position: absolute;left: 20px;top: 50%;transform: translateY(-50%);z-index: 2000; cursor: pointer;}
.toggle-menu.close{position: relative;top: unset;transform: unset;text-align: right;left: unset;color: #fff;opacity: 1;margin: 10px 10px 0px 10px;float: none;}
/*--create-job-start--*/
.create-job label { color: #4C4C4C; font-size: 16px; font-weight: bold; line-height: 19px; }
.create-job input { border:1px solid #EAEAEA; border-radius: 0px; box-shadow: none;background-color: #fff !important;  }
.create-job .form-group {margin-bottom: 20px;}
a.createjob-btn  { border-radius: 0px; }
.job-dec h4 { color: #4C4C4C; }
#create_new_job button{ font-size: 13px;color: #fff;border-radius: 0px; }
/*==static-tag-start==*/
a.tag-input { background: #D5D5D5; border-radius: 20px;font-size: 13px;color: #747474;font-weight: 400;padding: 9px 10px;margin: 0 5px 10px 0px;display: inline-block;
  float: left;text-align: left;     line-height: 1;    white-space: nowrap;vertical-align: baseline;}
.tag-input .remove {position: relative;margin-left: 20px;float: right;}
.tag-input .remove::after {content: "";width: 15px;height: 15px;background-image: url(../img/close-circle.svg);position: absolute;right: 0;top: 0;
  bottom: 0;}
   .tag-input .add::after {content: "";width: 15px;height: 15px;background-image: url(../img/plus.png);position: absolute;right: 0;top: 0;
  bottom: 0;}

.tag-input.red{background: #EB5757;color: #fff;}
.tag-input.red .remove::after{background-image: url(../img/close-circle-red.svg);}
.plusmoretsf { margin: 0 5px 10px 0px;}
.jlb-tags-part li { vertical-align: middle; padding: 0px; }
/*--404-page--*/
.notavailablepage-wrapper h1 {font-size: 150px;font-weight: 800;letter-spacing: 10px;line-height: 130px;}
.notavailablepage-wrapper { min-height: calc(100vh - 99px);background: #E3E1E1 !important;}
.notavailablepage-wrapper .row {min-height: calc(100vh - 150px);justify-content: center;display: flex; align-items: center }

/*-------*/
.input-text{border: 1px solid #EAEAEA;display: block;width: 100%;height: 37px;font-size: 13px;color: #B9B9B9;padding: 15px;}
label{font-weight: normal;}
.modal.design-modal{}
.modal.design-modal .close{opacity: 1;}
.modal.design-modal .close:focus, .modal.design-modal .close:hover{opacity: 1;}
.modal.design-modal .modal-dialog.modal-custom-size{width: 352px;}
.modal.design-modal .modal-content {border-radius: 0;box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);}
.sort-by-weight{border: 1px solid #B0B0B0;}
.sort-by-weight img {margin-left: 10px;}
.job-list-saection input{display: none;}
.jlb-tags-part li{vertical-align: middle;display: inline-block;cursor: pointer}
.tag-input.red {background: #EB5757;color: #fff;}
.bootstrap-tagsinput .tag.red {background: #EB5757;color: #fff;}
#negative_tags .bootstrap-tagsinput .tag {background: #EB5757;color: #fff;}
#divLoading{ display : none;}
#divLoading.show{display : block;position : fixed;z-index: 2000;background-image : url(../img/loader.gif);background-color:#666;opacity : 0.4;background-repeat : no-repeat;background-position : center;left : 0;bottom : 0;right : 0;top : 0;}
#loadinggif.show{ left : 50%;top : 50%;position : absolute;z-index : 20001;width : 32px;height : 32px;margin-left : -16px; margin-top : -16px;}
.tooltip-base {position: relative;}
.tooltip .tooltiptext {width: 232px;opacity: 1;transition: opacity 0.3s;cursor: pointer;background: #FFFFFF;box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);}
.tooltip .tooltiptext p {margin:0px;}
.tooltip .tooltiptext::after {content: "";position: absolute;top: -22px;left: 50%;margin-left: -5px;border-width: 10px;border-style: solid;border-color: transparent transparent #f5f5f5 transparent;}
.tooltip{ visibility: hidden;    font-family: 'Roboto', sans-serif !important;    margin-top: 10px;}
.tooltip-base:hover + .tooltip  {visibility: visible;opacity: 1;}
.tooltip-base{ cursor: pointer;}
.tooltip-header{background: #F5F5F5;box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);padding: 14px 10px;text-align: center;}
.text-black{color:#000;}
.text-green{color: #0EB0A3}
.text-red { color: #C72A31 }
.tooltiptext span {font-weight:400;}
.tooltiptext p{font-size:13px;font-weight:500;}
.tooltiptext li{ list-style: none;display: block;border-bottom: 1px solid #E1E1E1;padding: 12px 10px;text-align: left; }
.tooltiptext ul{padding-left: 0px !important;margin:0px;}
.tooltop-footer a {color: #747474;font-size: 12px; font-weight: 500;display: block; text-decoration:underline;}
.tooltop-footer {padding: 10px;}
.tooltiptext .tooltip-header p{ color: #747474;font-size: 14px;font-weight: 500;}

/*==static-tag-start==*/
a.tag-input { background: #E9E9E9; border-radius: 20px;font-size: 13px;color: #747474;font-weight: 400;padding: 9px 10px;margin: 0 5px 10px 0px;display: inline-block;
  float: left;text-align: left;     line-height: 1;    white-space: nowrap;vertical-align: baseline;}
.tag-input .remove,.tag-input .add {position: relative;margin-left: 20px;float: right;}
.tag-input .remove::after {content: "";width: 15px;height: 15px;background-image: url(../img/close-circle.svg);position: absolute;right: 0;top: 0;
  bottom: 0;}
.tag-input .add::after {content: "";width: 15px;height: 15px;background-image: url(../img/plus.png);position: absolute;right: 0;top: 0;
    bottom: 0;}
.plusmoretsf { margin: 0 5px 10px 0px;}
.jlb-tags-part li { vertical-align: middle; padding: 0px; }
.tt-menu { width: 100%;background-color: #fff;padding: 10px;}
.tt-suggestion.tt-selectable {margin-bottom: 5px;}
.float-right.feedch-pubtext {float: right;font-size: 14px;font-weight: 400;color: #9D9D9D;}
.float-right.feedch-pubtext .text-gray { color: #4C4C4C;padding-left: 3px; }
.side-menu h4 {
  background: #E3E1E1;
  margin: 0;
  padding: 15px 0;
}
.side-menu-fixed .mCSB_inside>.mCSB_container{margin-right: 0;}


/* bulk keyword model */
.bulk_keywords .modal_title h4 {
  margin-bottom: 19px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #4C4C4C;
}

.bulk_keywords label {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  margin-bottom: 20px;
}
.bulk_keywords .group_tags.file-upload {
  /*text-align: right;*/
  margin-top: 10px;
}
.bulk_keywords .file-upload #upload_group_tags {
  display: inline-block;
}
.bulk_keywords .btn-group.btn-toggle.btn-group-design {
  display: block;
}
.bulk_keywords .btn-group.btn-toggle.btn-group-design button{width: 50%;margin-bottom: 15px;}
.bulk_keywords .select-wrapper2 {width: 100%;margin-top: 15px}
.bulk_keywords .select-wrapper2 select {width: 100%;background: #FFFFFF;border: 1px solid #EAEAEA;color: #B9B9B9;font-size: 13px;padding: 0 15px;text-align-last: left;
}
.bulk_keywords .select-wrapper2::before{background: transparent;left: auto;right: 0;}
.bulk_keywords .select-wrapper2::after{right: 6px;left:auto;background-image: url(../img/dropdownarrow.svg);}
.bulk_keywords input:focus{border: 1px solid #EAEAEA;box-shadow: none}
.bulk_keywords .select-option select,.bulk_keywords input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  color: #9a9090;
  font-size: 15px;
  padding: 0 15px;
  text-align-last: left;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.bulk_keywords .select-option {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}
.bulk_keywords .select-option::after {
  content: "";
  position: absolute;
  display: block;
  background: #fff url(../img/dropdownarrow.svg);
  pointer-events: none;
  width: 20px;
  height: 20px;
  top: 11px;
  right: 5px;
  left: auto;
  background-repeat: no-repeat;
}
.bulk_keywords button.close{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;

}
.bulk_keywords .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  float: right;

}
span.keyword_error {
  display: inline-block;
  text-align: left;
  font-size: 12px;
  color: #c72a31;
  display: none;
}
.bulk_keywords .file-btn {
  padding: 0;
  text-decoration-line: underline;
  color: #0EB0A3;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  background: #fff;
  border: none;
  cursor: pointer;
}
.bulk_keywords .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.footer_button .btn,.footer_button .btn:hover,
.footer_button .btn:focus,.footer_button .btn:active:focus{
  width: 48%;
  border-radius: 0;
  background: none;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  padding: 10px 0;
}

.footer_button .btn-primary,.footer_button .btn-primary,.footer_button .btn-primary,
.footer_button .btn-primary:focus,.footer_button .btn-primary:active:focus{
  border: 1px solid #0EB0A3;
  float: right;
  color: #0EB0A3;
}
.footer_button .btn-secondary{
  border: 1px solid #4C4C4C;
  color:#4C4C4C;
}

.keyword_title{
  display: block;
  width: 100%;
  min-height: 35px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.close_keyword{
  background-image: url(../img/keyword_close.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-left: 15px;
  cursor: pointer;
}
.keyword_data {
  display: inline-block;
  padding: 5px 20px;
  background: #D5D5D5;
  margin: 0 5px 5px 0;
  border-radius: 15px;
  color: #4c3f3f;
}

.keyword_data span {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
}
.bulk_keywords .pro_title{
  font-size: 20px;
  height: 35px;
}


.balanceData{
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: middle;
}

.balanceData button{
  box-shadow: none;
  background: #C72A31;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  min-width: 96px;
  height: 40px;
  width: 50%;
  float: left;
  border-radius: 0;
  margin-bottom: 15px;
}
.balanceData button.active {
  background: #0EB0A3;
}
.balanceData button:hover,
.balanceData button:focus,
.balanceData button:active,
.balanceData button:active:focus{
  color: #FFF;
}

.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}

.bootstrap-tagsinput {
  width: 100%;
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}

.bootstrap-tagsinput  input:focus {
  border: 0;
  box-shadow: none;
}

/* modal */
.modal-header .close{
  position: absolute;
  top: 15px;
  right: 15px;
}

.error{
  color: red;
}

/*==mk-start==*/
.job .container { width:100% !important;padding: 0px;}
.job-dec .section { margin-top:20px;margin-bottom:0px !important; }
/*==mk-end==*/
#exportExcel button { min-width: 100px; background: #4C4C4C; border-radius: 5px; color: #fff; display: inline-block; text-align: center; vertical-align: middle; margin-right: 0px; font-size: 13px; font-weight: 400; padding: 10px 15px;cursor: pointer; }

.job-title img {
  width: 22px;
  margin-left: 15px;
  vertical-align: middle;
}
/*--- Responsive Web Design - Media Queries ---*/
@media only screen and (max-width:1440px) {
  .search-box { min-width: 100%; }
  a.add-button{    min-width: 150px;}
  header.header.frontend-header .header-inner {padding: 0px;}
  .top-noticebar.frontend-noticebar {padding: 12px 0px;}
  .side-menu-fixed .side-menu .frontendsidenav li {padding: 20px 15px;}
  .fr-jobdetail-btngroup a.button {margin-bottom: 10px;}
}
@media only screen and (max-width:1200px) {
  .side-menu-fixed { width: 230px; }
  .content-wrapper { margin-left: 230px; padding: 15px; }
  .job-details h2 { font-size: 18px; font-weight: 500; }
  .job-list-saection .jlb-div .job-match {margin-right: 0px; margin-left: 0px;}
}
@media only screen and (max-width:1024px) {
  .content-wrapper { margin-left: 0px; }
  .side-menu-fixed { left: -260px; width: 250px; top:0px !important;}
  .top-noticebar.frontend-noticebar h4 { font-size: 15px;margin-left: 30px; }
  .toggle-menu{display: block;}
  #create_new_job button { margin-bottom: 20px; }
}

@media only screen and (max-width:991px) {
  .ui_modify li{
    margin-right: 5px;
  }
  .ui_modify .button{
    min-width: 100%;
    padding: 10px;
  }
}
@media only screen and (max-width:800px) {
  .job-list-block{flex-flow: column;}
  .job-list-block .jlb-left{margin-bottom: 10px;}
  .job-details h2{margin-bottom: 5px;}
  .job-list-saection .job-list-block .jlb-div {flex-flow: column;}
  .jlb-tags-part ul {margin-left:0px;}
}
@media only screen and (max-width:768px) {
  .custom-block{padding: 20px;}
  ul.icon-block-ul li{    width: 49%;    margin-right: 0;    padding-right: 5px;}
  .iconandtext .text-detail h4{font-size: 13px;}
  .iconandtext .text-detail p{font-size: 12px;}
}
@media only screen and (max-width:767px) {
  .res-btn-nav .inline-list{display: flex;}
  .login-block { width: 85%;position: absolute; display: block; padding: 20px;left: 0; right: 0; top: 50%;margin: auto;transform: translateY(-50%);margin-top:55px;  }
  .header { padding-bottom: 10px; position: relative; }
  .header-inner { flex-flow: column; }
  .logo { text-align: center; border-bottom: 1px solid #C4C4C4; padding-bottom: 5px; margin-bottom: 10px; width: 100%; }
  .logo h2 { margin: 0 auto 10px; }
  .main-wrapper { padding-top: 0; }
  .content-wrapper { padding: 15px; }
  .job-list-block .jlb-right .inline-list{display: inline-block;}
  .btn-group.btn-toggle.btn-group-design {display: flex;}
  .dm-div { display: block;margin-left: 0px; }
  .dm-right , .dm-center { display: inline-block; }
  .dm-left { margin-bottom: 10px; }
  .dm-bottom p { margin-left: 0px }
  .dm-center { margin-right: 10px; }
  .dm-bottom { display: flex; }
  .dm-bottom p  br { display: none; }
  .job-list-block.dm-block {padding: 15px 15px;}
  .main-wrapper.frontend-mainwrapper { padding-top:0px; }
  .searchbar { float: none !important ; margin-top: 10px; }
  .top-noticebar.frontend-noticebar { text-align: center; }
  .dropdown.userdropdown button { margin-bottom: 10px; }
  .fr-jobloc li, .fr-jobcontact li {width: 100%;margin-bottom: 10px;}
  .fr-jobcontact img {max-height: 15px;}
  .fr-jobcontact li h4 { font-size: 15px; margin-bottom: 0px; }
  .fr-jobloc li:last-child, .fr-jobcontact li:last-child{margin-bottom: 0px;}
  .toggle-menu {top: 18px;transform: unset;}
  .create-job .form-group {margin-bottom: 10px;}
  .notavailablepage-wrapper h1 {font-size: 100px;font-weight: 800;letter-spacing: 10px;line-height: 100px ;margin-bottom: 20px;}
  .notavailablepage-wrapper {min-height: calc(100vh - 183px);}
  .notavailablepage-wrapper .row {min-height: calc(100vh - 215px);}
  ul.icon-block-ul li +  hr { display: none; }
  .iconandtext .text-detail {margin-bottom: 20px;}

  .ui_modify li:first-child{
    width: 100%;
  }
  .ui_modify li:nth-child(n+2) {
    width: 49%;
    margin: 0;
    padding: 10px 0 0;
  }
  .ui_modify {
    float: left !important;
    width: 100%;
  }
}
  @media(max-width: 480px)
  {
    .sortby-button {float: none !important;}
  }

