



    <section id="search-results" data-keywords="" data-location="" data-distance="50" data-latitude="" data-longitude="" data-show-radius="False" data-total-results="5" data-total-pages="1" data-current-page="1" data-records-per-page="15" data-active-facet-id="34693" data-custom-facet-name="" data-facet-term="" data-facet-type="0" data-search-results-module-name="Search Results" data-sort-criteria="0" data-sort-direction="0" data-search-type="5" data-ajax-url="/search-jobs/results" data-ajax-post-url="/search-jobs/resultspost" data-server-error-message="There was an error retrieving your results. Please refresh and try again." data-keyword-type="" data-location-type="" data-location-path="" data-organization-ids="" data-selector-name="searchresults" data-refined-keywords="[]" data-postal-code="" data-save-jobs="true">
    
        

            <section id="search-results-list">
                
	                <div id="applied-filters" class="search-results-options">
                        <h2 id="applied-filters-label">Filtered by</h2>
						<ul aria-labelledby="applied-filters-label">
											<li><button class="filter-button" data-id="34693" data-facet-type="1">Administration</button></li>
											<li><button class="filter-button" data-id="1814991" data-facet-type="2">China</button></li>
													</ul>
	                </div>


                <ul>
                        <li>
                            <a href="/job/shanghai-downtown/pa-ma/7684/13488411" data-job-id="13488411" class="left-link">
                                <div class="search-result-left-child">
                                    <h2>PA-MA</h2>
                                        <span class="job-location">
                                        
                                        
Shanghai Downtown, Shanghai Municipality
                                        
                                            
                                        </span>
                                                                    </div>
                            </a>
                                <div class="search-result-right-child">
                                    <div class="search-result-right-child__view-role">
                                        <a href="/job/shanghai-downtown/pa-ma/7684/13488411" data-job-id="13488411" aria-hidden="true">
                                            <span>View Role</span>
                                        </a>
                                    </div>
                                    <div class="search-result-right-child__save-role">
                                            <button type="button" class="js-save-job-btn" data-job-id="13488411" data-org-id="7684"><span>Save Role</span></button>
                                    </div>
                                </div>
                        </li>
                        <li>
                            <a href="/job/shanghai-downtown/pa-ma/7684/13488407" data-job-id="13488407" class="left-link">
                                <div class="search-result-left-child">
                                    <h2>PA-MA</h2>
                                        <span class="job-location">
                                        
                                        
Shanghai Downtown, Shanghai Municipality
                                        
                                            
                                        </span>
                                                                    </div>
                            </a>
                                <div class="search-result-right-child">
                                    <div class="search-result-right-child__view-role">
                                        <a href="/job/shanghai-downtown/pa-ma/7684/13488407" data-job-id="13488407" aria-hidden="true">
                                            <span>View Role</span>
                                        </a>
                                    </div>
                                    <div class="search-result-right-child__save-role">
                                            <button type="button" class="js-save-job-btn" data-job-id="13488407" data-org-id="7684"><span>Save Role</span></button>
                                    </div>
                                </div>
                        </li>
                        <li>
                            <a href="/job/shanghai-downtown/coordinator-ma-tki/7684/12996119" data-job-id="12996119" class="left-link">
                                <div class="search-result-left-child">
                                    <h2>Coordinator- MA-TKI</h2>
                                        <span class="job-location">
                                        
                                        
Shanghai Downtown, Shanghai Municipality
                                        
                                            
                                        </span>
                                                                    </div>
                            </a>
                                <div class="search-result-right-child">
                                    <div class="search-result-right-child__view-role">
                                        <a href="/job/shanghai-downtown/coordinator-ma-tki/7684/12996119" data-job-id="12996119" aria-hidden="true">
                                            <span>View Role</span>
                                        </a>
                                    </div>
                                    <div class="search-result-right-child__save-role">
                                            <button type="button" class="js-save-job-btn" data-job-id="12996119" data-org-id="7684"><span>Save Role</span></button>
                                    </div>
                                </div>
                        </li>
                        <li>
                            <a href="/job/shanghai-downtown/team-coordinator-ma/7684/12941697" data-job-id="12941697" class="left-link">
                                <div class="search-result-left-child">
                                    <h2>Team Coordinator - MA</h2>
                                        <span class="job-location">
                                        
                                        
Shanghai Downtown, Shanghai Municipality
                                        
                                            
                                        </span>
                                                                    </div>
                            </a>
                                <div class="search-result-right-child">
                                    <div class="search-result-right-child__view-role">
                                        <a href="/job/shanghai-downtown/team-coordinator-ma/7684/12941697" data-job-id="12941697" aria-hidden="true">
                                            <span>View Role</span>
                                        </a>
                                    </div>
                                    <div class="search-result-right-child__save-role">
                                            <button type="button" class="js-save-job-btn" data-job-id="12941697" data-org-id="7684"><span>Save Role</span></button>
                                    </div>
                                </div>
                        </li>
                        <li>
                            <a href="/job/shanghai-downtown/senior-clinical-hub-assistant/7684/4648954" data-job-id="4648954" class="left-link">
                                <div class="search-result-left-child">
                                    <h2>Senior Clinical Hub Assistant</h2>
                                        <span class="job-location">
                                        
                                        
Shanghai Downtown, Shanghai Municipality
                                        
                                            
                                        </span>
                                                                    </div>
                            </a>
                                <div class="search-result-right-child">
                                    <div class="search-result-right-child__view-role">
                                        <a href="/job/shanghai-downtown/senior-clinical-hub-assistant/7684/4648954" data-job-id="4648954" aria-hidden="true">
                                            <span>View Role</span>
                                        </a>
                                    </div>
                                    <div class="search-result-right-child__save-role">
                                            <button type="button" class="js-save-job-btn" data-job-id="4648954" data-org-id="7684"><span>Save Role</span></button>
                                    </div>
                                </div>
                        </li>
                </ul>
            </section>
    </section>
