


                <tr>
                    <td>2019-06-24</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14758&kw=">Head of Pre-series assembly, Trucks</a>
                                          </td>
                    <td>Production</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-08-11</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-20</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14589&kw=">INGENJÖR MED INRIKTNING MOT ELEKTRIFIERING</a>
                                          </td>
                    <td>Research and Development</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-04</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-20</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14528&kw=">Provningsingenjör motorkylsystem</a>
                                          </td>
                    <td>Research and Development</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-04</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-20</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14750&kw=">Developer/Scrum Master– Mobile app team, Connected Services and Solutions</a>
                                          </td>
                    <td>IT</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-08-23</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-20</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14752&kw=">Technical Responsible for Data Protection</a>
                                          </td>
                    <td>IT</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-13</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-20</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14755&kw=">Senior .NET developer, Service Delivery IT</a>
                                          </td>
                    <td>IT</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-11</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-20</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14754&kw=">Scrum Master to Services Delivery IT – Scania Maintenance</a>
                                          </td>
                    <td>IT</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-11</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-20</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14751&kw=">30 credit –Design of a testing procedure - Can we replicate Internal Injector Deposits in a test rig?</a>
                                          </td>
                    <td>Research and Development</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-09-30</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-19</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14495&kw=">Systemutvecklare – till gruppen Provningssystem</a>
                                          </td>
                    <td>Research and Development</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-08-05</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-19</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14479&kw=">Developer with Scrum Master ambition– Data Availability, Connected Services and Solutions</a>
                                          </td>
                    <td>IT</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-08-11</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-19</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14673&kw=">Development engineer – NMGA Research & Technology New Performance Systems</a>
                                          </td>
                    <td>Research and Development</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-19</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-19</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14592&kw=">Utvecklingsingenjör för framtidens tunga transporter</a>
                                          </td>
                    <td>Research and Development</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-19</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-19</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14743&kw=">Systems architect, vehicle safety</a>
                                          </td>
                    <td>Research and Development</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-08-18</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-19</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14744&kw=">Group Manager, Learning Coordination (HCAB)</a>
                                          </td>
                    <td>Human Resources</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-08-25</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-19</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14746&kw=">Commercial Project Manager, Scania Connected Services and Solutions</a>
                                          </td>
                    <td>Business Development</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-08-11</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-19</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14747&kw=">Sales Manager (temporary role), Scania Connected Services and Solutions</a>
                                          </td>
                    <td>Sales</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-08-11</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-19</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14749&kw=">Objekttestledare för framtidens drivlinor, Electric Power Systems and Drivetrain Control</a>
                                          </td>
                    <td>Research and Development</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-01</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-18</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14202&kw=">First line manager - Autonomous Vehicles Management</a>
                                          </td>
                    <td>Research and Development</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-08-11</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-18</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14084&kw=">Design engineer Electrified Powertrains</a>
                                          </td>
                    <td>Research and Development</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-02</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-18</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14720&kw=">Verkstadschef till Scanias Motormonteringen</a>
                                          </td>
                    <td>Production</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-02</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-18</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14739&kw=">Marketing Communication Manager -with focus on talent and competence</a>
                                          </td>
                    <td>Marketing</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-08-11</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-18</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14735&kw=">First line manager - Autonomous Function Test</a>
                                          </td>
                    <td>System</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-08-11</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-18</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14732&kw=">Product owner at Connected Intelligence</a>
                                          </td>
                    <td>System</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-07</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-18</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14733&kw=">Develop connected intelligence to fuel the future</a>
                                          </td>
                    <td>System</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-07</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-17</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14587&kw=">Software Architect / Algoritm enabler to Advanced Analytics</a>
                                          </td>
                    <td>IT</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-04</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-17</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14588&kw=">Front End Developer to Industrial Control IT</a>
                                          </td>
                    <td>IT</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-01</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-17</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14722&kw=">IT tekniker med förvaltningsintresse</a>
                                          </td>
                    <td>IT</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-01</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-17</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14726&kw=">Financial controller – Business application specialist</a>
                                          </td>
                    <td>Finance</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-01</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-13</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14713&kw=">Teamleader till underhåll</a>
                                          </td>
                    <td>Maintenance</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-12</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-13</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14711&kw=">Commodity Sourcing Manager, Sheet Metal</a>
                                          </td>
                    <td>Purchasing</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-01</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-12</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14707&kw=">Sourcing Manager – Inbound/Interplant Logistics</a>
                                          </td>
                    <td>Purchasing</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-01</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-11</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=12974&kw=">Enterprise Network Technician to IT department at Scania</a>
                                          </td>
                    <td>IT</td>
                    <td>Sweden</td>
                    <td>Stockholm</td>
                    <td>2019-07-06</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-11</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14697&kw=">Technical manager, systems safety</a>
                                          </td>
                    <td>Research and Development</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-08-18</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-10</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14274&kw=">Agile Coach to Scania’s Supporting Processes IT</a>
                                          </td>
                    <td>IT</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-10</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-10</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14369&kw=">Senior Full-Stack Java & JavaScript Developer for Services Delivery IT</a>
                                          </td>
                    <td>IT</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-10</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-05</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=13286&kw=">Senior Solution Architect at PD IT</a>
                                          </td>
                    <td>IT</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-05</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-05</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=13714&kw=">Gruppchef till Purchase 2 Pay, IZAB</a>
                                          </td>
                    <td>IT</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-05</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-05</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14386&kw=">Utvecklingsingenjör inom motorstyrsystemsutveckling</a>
                                          </td>
                    <td>Research and Development</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-18</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-06-05</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14666&kw=">30 credits - Leveraging Discontinuous Innovation in Scania’s Product Development Organization in an Open Transport Ecosystem</a>
                                          </td>
                    <td>Research and Development</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-08-20</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-05-31</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14472&kw=">Gruppchef för ”Platform and Architecture” inom MS Dynamics AX</a>
                                          </td>
                    <td>IT</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-01</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-05-29</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14617&kw=">Underhållsmekaniker</a>
                                          </td>
                    <td>Maintenance</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-01</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-05-29</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14618&kw=">Underhållssamordnare inom produktionsunderhåll</a>
                                          </td>
                    <td>Maintenance</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-01</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-05-28</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=13807&kw=">Analytics and Big Data Architect – Digitalization at Lots Group</a>
                                          </td>
                    <td>IT</td>
                    <td>Sweden</td>
                    <td>Stockholm</td>
                    <td>2019-07-31</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-05-28</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14308&kw=">Underhållstekniker el/automation till motorbearbetningen</a>
                                          </td>
                    <td>Maintenance</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-08-31</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-05-23</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14374&kw=">Montör till Scania</a>
                                          </td>
                    <td>Production</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-08-31</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-05-23</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14375&kw=">Materialhanterare till Scania</a>
                                          </td>
                    <td>Production</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-08-31</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-05-21</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=14573&kw=">30 credits – Development of CFD simulation methods to resolve flow acoustic for aftertreatment system</a>
                                          </td>
                    <td>Thesis work</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-01</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2019-05-17</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=12831&kw=">Fullstack utvecklare</a>
                                          </td>
                    <td>Research and Development</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2019-07-01</td>
            </tr>
    
            
    

    


                <tr>
                    <td>2018-06-26</td>
                    <td class="job_title_combined"><a href="https://www.scania.com/group/en/available-positions/?job_id=12620&kw=">Internship at Scania</a>
                                          </td>
                    <td>Internship</td>
                    <td>Sweden</td>
                    <td>Sodertalje</td>
                    <td>2021-12-31</td>
            </tr>
        
